@font-face {
	font-family: 'Bahnschrift';
	src: url(../../assets/fonts/Bahnschrift.eot?h=6b12aa9725e04cfa700a1c5d990000ea) format('embedded-opentype'),
	url(../../assets/fonts/Bahnschrift.eot?h=6b12aa9725e04cfa700a1c5d990000ea) format('embedded-opentype'),
	url(../../assets/fonts/Bahnschrift.woff2?h=6b12aa9725e04cfa700a1c5d990000ea) format('woff2'),
	url(../../assets/fonts/Bahnschrift.woff?h=6b12aa9725e04cfa700a1c5d990000ea) format('woff'),
	url(../../assets/fonts/Bahnschrift.ttf?h=6b12aa9725e04cfa700a1c5d990000ea) format('truetype'),
	url(../../assets/fonts/Bahnschrift.svg?h=6b12aa9725e04cfa700a1c5d990000ea) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}